/* Reset styles */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: inherit;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}
button, input {
    cursor: pointer;
    background-color: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 60%, rgba(0, 74, 105, 0.75) 100%);
}
.gallery_wrapper {
    background: linear-gradient(180deg,rgba(0, 107, 152, 1) 11%, rgba(255, 255, 255, 1) 27%, rgba(255, 255, 255, 1) 67%, rgba(9, 131, 183, 1) 100%);
}
[class*="_container"] {
    max-width: 81.125rem;
    padding: 0rem 0.9375rem;
    margin: 0 auto;
}
main {
    flex: 1 1 auto;
    font-family: "Inter", sans-serif;
}

.menu-open body {
    overflow: hidden;
}
@font-face {
    font-family: 'Miama';
    src: url(./fonts/Miama.ttf);
}

/*=======================HEADER MENU============================*/
.header {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    z-index: 50;
}
.header::before {           
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 4.375rem;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 104, 173, 1) 100%);
    /* background-color: rgb(225, 255, 0); */
    border-bottom: 1px solid rgb(156, 156, 156);
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9375rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 4.375rem;
}
.header_logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 700;
    font-size: 3rem;
    color: rgb(255, 140, 0);
    position: relative;
    z-index: 5;
    font-family: "Flavors", cursive;
}
.l1 {
    color: #FF0000;
}
.l2 {
    color: #FF7300;
}
.l3 {
    color: #FFE500;
}
.l4 {
    color: #59FF00;
}
.l5 {
    color: #00FFD4;
}
.l6 {
    color: #038EFF;
}
.l7 {
    color: #0022FF;
}
.l8 {
    color: #5E00FF;
}
.l9 {
    color: #EA00FF;
}
.l10 {
    color: #EA00FF;
}
.l11 {
    color: #FF0004;
}
.header_menu {
}
.menu {
}
.menu_body {
    position: relative;
    z-index: 5;
    background-color: #00000047;
    border-radius: 12px;
    padding: 15px 20px 15px 20px;
}
.menu_list {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    row-gap: 0.3125rem;
    flex-wrap: wrap;
}
.menu_item {
}
.menu_link {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #fff;
}
.menu_link:hover {
    text-decoration: underline;
}
.menu_icon {
}
.icon-menu {
    display: none;
}
.icon_menu-line {
}

@media (max-width: 767.98px) {
    .menu_body {
        position: fixed;
        width: 100%;height: 100%;
        top: 0;
        left: -100%;    /*central line hide onclick*/
        transition: left 0.5s;
        background-color: rgba(0, 173, 208, 0.961);
        padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
        overflow: auto;     
        z-index: 1;
    }

    .menu-open .menu_body {        
        left: 0;
    }
    .menu_list {
        flex-direction: column;
        gap: 2.1875rem;
    }
    .menu_link {
        font-size: 1.875rem;
    }
/*===================lines=================*/
    .icon-menu {
        display: block;
        position: relative;
        z-index: 5;
        width: 1.875rem;
        height: 1.125rem;
    }
    .icon_menu-line,        
    .icon-menu::before,     
    .icon-menu::after {     
        content: "";
        position: absolute;
        background-color: #fff;
        height: 0.125rem;
        width: 100%;
        left: 0;
        transition: all 0.5s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon_menu-line {
        top: calc(50% - 0.0625rem);
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 0.0625rem);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        top: calc(50% - 0.0625rem);
        transform: rotate(45deg);
    }
    .menu-open .icon_menu-line {
        left: 50%;
        width: 0;
    }

}
/*=======================HEADER============================*/

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.hero-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 100px;
}
.hero_text {
    font-family: 'Miama';
    font-size: 60px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}
.hero_add-text {
    color: #fff;
    margin-bottom: 40px;
}
.hImage_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    margin-bottom: 40px;
}
.h-img {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.h-img img {
    width: 100%;
    object-fit: cover;
}
.hero_btn {
    padding: 15px 25px 15px 25px;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(180deg,rgba(173, 240, 255, 1) 0%, rgba(0, 51, 62, 1) 43%);
    border-radius: 6px;
    transition: 0.3s all ease-in-out;
}
.hero_btn:hover {
    background: linear-gradient(180deg,rgba(173, 240, 255, 1) 0%, rgb(0, 144, 176) 43%);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.footer-text {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}
.icons-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.icon {
    max-width: 64px;
    max-height: 64px;
    min-width: 50px;
    min-height: 50px;
    transition: 0.3s all ease-in-out;
}
.icons-link img {
    width: 100%;
    object-fit: cover;
    
}
.icon:hover {
    transform: scale(1.2);
}
/*=======================HEADER============================*/


/*=============MAIN SECTION===============*/
.main_section {
    display: flex;
    flex-direction: column;
}
.articel_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}
.articel1 {
}
.articel2 {
    margin-top: 200px;
    margin-bottom: 200px;
}
.art_img{
    max-height: 431px;
    max-width: 286px;
    /* width: 100%; */
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    z-index: 10;
}
.img1::before {
    position: absolute;
    content: '';
    top: 40px;
    left: -15%;
    width: 370px;
    height: 360px;
    background: linear-gradient(180deg,rgba(251, 255, 0, 1) 0%, rgba(255, 0, 115, 1) 100%);
    z-index: -1;
}
.img2::before {
    position: absolute;
    content: '';
    top: -40px;
    left: 29px;
    width: 220px;
    height: 250px;
    background: linear-gradient(180deg,rgb(111, 255, 0) 0%, rgb(255, 0, 234) 100%);
    z-index: -1;
}
.art_img img {
    width: 100%;
    object-fit: cover;
}
.art_content {
    width: 500px;
}
.art_header {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}
.header2 {
    margin-top: 0;
}
.art-text {
    background-color: #ffffffc6;
    padding: 30px 10px;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}
/*=============MAIN SECTION===============*/


/*============GALLERY======================*/
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 200px;
}
.gallery_header {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 90px;
}
.gallery_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.gallery_container::before {
    position: absolute;
    content: '';
    top: -15%; left: 20%;
    width: 500px;
    height: 500px;
    background-color: #005092;
    z-index: -1;
}
.gallery_image {
    max-width: 265px;
    max-height: 176px;
    overflow: hidden;
    transition: 0.5 all ease-in-out;
}
.gallery_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5 all ease-in-out;
}
.gallery_image img:hover {
    transform: scale(1.5);
}
/*============GALLERY======================*/


/*=================BOOKING============================*/
.booking {
    margin-top: 150px;
    margin-bottom: 50px;
}
.book_cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    /* overflow: hidden; */
    
}
.booking_container {
    display: flex;
    flex-direction: column;
    
}
.book_top {
    display: flex;
    flex-direction: column;
}
.book_header {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 40px;
}
.book_text {
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 210px;
}


.card_content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff9c;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    justify-content: space-between;
}
.book_card {
    width: 276px;
    transition: 0.3s all ease-in-out;
}
.book_card:hover {
    transform: translateY(-5px);
}
.card_img {
    max-width: 253px;
    max-height: 170px;
    min-height: 170px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
    margin: 0 auto 10px auto;
}
.card_img img {
    width: 100%;
    object-fit: cover;
}
.card_name {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}
.card_span {
    font-weight: 800;
    margin-right: 5px;
}
.card_info {
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;
}
.card_price {
    font-weight: 800;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
}
.price {
    margin-bottom: 30px;
}
.card_btn {
    padding: 8px 48px;
    font-weight: 800;
    color: #fff;
    max-width: 171px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #fff;
    background: linear-gradient(180deg,rgba(255, 211, 170, 1) 0%, rgba(115, 69, 0, 1) 49%);
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}
.card_btn:hover {
    background: linear-gradient(180deg,rgba(255, 211, 170, 1) 0%, rgb(255, 153, 1) 49%);
}
/*=================BOOKING============================*/


  /*===============CALENDAR==============*/
/* .calendar {
    width: 320px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 50px;
  }

  .calendar h2 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 22px;
    color: #333;
  }

  .calendar table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .calendar th {
    padding: 10px 0;
    color: #666;
    font-size: 14px;
    font-weight: 600;
  }

  .calendar td {
    padding: 12px 0;
    font-size: 15px;
    color: #333;
    border-radius: 8px;
    transition: background 0.2s;
  }

  .calendar td:hover {
    background: #f2f6ff;
    cursor: pointer;
  }

  .calendar .today {
    background: #4e7bff;
    color: #fff;
    font-weight: bold;
  } */
  /*===============CALENDAR==============*/

  /*==============BOTTOM PART==============*/
.bottom_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom_header {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 40px;
}
.bottom_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.form_container {
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    margin-bottom: 20px;
}
.label {
    color: #fff;
}
.input {
    color: #696969;
    background-color: #fff;
    min-width: 364px;
    height: 32px;
    border-radius: 5px;
    padding-left: 15px;
}
.input-message {
    min-height: 100px;
}
.send_btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 34px 10px 40px;
    margin-bottom: 50px;
}
/*==============BOTTOM PART==============*/

/*============================FEEDBACK======================*/
.feedback {
    margin-top: 100px;
    padding: 20px;
}
.feed_header {
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
}
.feed_cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px auto;
    max-width: 1200px;
}
.feed_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 27px;
    color: #fff;
    max-width: 380px;
    /* min-height: 235px; */
    max-height: 350px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 25px 25px 20px 15px;
    background-color: #003741b8;
    transition: 0.4s all ease-in-out;
}
.feed_card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px 2px #fff;;
}
.fcard_image {
    min-width: 140px;
    /* min-width: 127px; */
    min-height: 191px;
    max-height: 300px;
    border-radius: 200px;
    overflow: hidden;
}
.fcard_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fcard_header {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 11px;
    text-align: center;
}
.fcard_content {
    font-size: 14px;
    font-weight: 400;
}
.feed_form {
    margin-bottom: 100px;
}
.form_container {
}
.feedback_form {
    background-color: #00bbff5d;
    border-radius: 15px;
    padding: 15px 60px 20px 60px;
    max-width: 565px;
    border: 1px solid #fff;
}
.feed_header {
    margin-top: 30px;
    color: #000;
}
.feed_input {
    color: #000;
}
.feed_label {
    color: #000;
}
.feed_btn {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*============================FEEDBACK======================*/

/*====================MEDIA======================*/

@media (max-width: 830px) {
    .gallery_container::before {
        display: none;
    }
    .icons-container {
        gap: 20px;
    }
    .book_text {
        margin-left: 30px;
    }
}
@media (max-width: 820px) {
    .feed_card {
        max-width: 80%;
    }
}

@media (max-width: 767.98px) {
    .hImage_container {
        width: 100%;
    }
    .articel_container {
        flex-direction: column;
        justify-content: center;
    }
    .art_img {
        margin: 0 auto;
    }
    .art-text {
        margin-bottom: 40px;
    }
}

@media (max-width: 560px) {
    .art_img {
        width: 100%;
        margin: 0 auto;
    }
    .art_content {
        width: 100%;
    }
    .gallery_container {
        max-width: 100%;
        padding: 10px 20px;
    }
    .gallery_image {
        max-width: 100%;
    }
    .form_container {
        width: 100%;
        padding: 10px 30px 10px 30px;
    }
    .input {
        min-width: auto;
    }
    .hero_text {
        font-size: 40px;
    }
    .hero_add-text {
        font-size: 12px;
    }
    .calendar {
        width: 100%;
        height: 80%;
    }
}

@media (max-width: 430px) {
    .header_logo {
        font-size: 2rem;
    }
    .img1::before {
        top: 40px;
        left: -15%;
        width: 360px;
        height: 300px;
    }
    .img2::before {
        top: -40px;
        left: 29px;
        width: 200px;
        height: 250px;
    }
    .calendar_container {
        width: 100%;
    }
    .calendar {
        width: 100%;
        max-width: 100%;
    }
    .feed_card {
        padding: 15px 15px 10px 10px;
    }
    .fcard_text {
        font-size: 12px;
    }
    .feed_header {
        font-size: 30px;
    }
    .icons-container {
        gap: 10px;
    }
    .feed_card {
        max-width: 100%;
    }
}
/*====================MEDIA======================*/